    <div class="event" panel panel-primary ng-model="event">
      <div class="event-info" >
        <img class="event-image" src="{{event.image}}" />
        <div id="{{ 'event-' + $index }}" class="info" >
          <span class="panel body"> <strong> {{ event.title }} </strong> </span> <br />
          <span class="panel body"> Expiration: {{ event.expiration |  date : format : timezone}} </span> <br />
          <span class="panel body"> People needed: {{ event.thresholdPeople }} </span>
          <span class="panel body"> Cost per person: ${{ event.thresholdMoney / event.thresholdPeople | number:2 }} </span> <br />
          <span class="panel body"> Remaining money needed: ${{ event.thresholdMoney - event.committedMoney | number:2}} </span> <br />
        </div>
      </div>

      <div ng-controller='EventsPayment'>
        
        <md-button class="event-button md-raised md-primary" ng-model="shouldNotBeClickable" 
         ng-click="acceptOrDeclineInvite(true, event); shorCard()"> JOIN </md-button>
        <md-button class="event-button md-raised md-primary"ng-model="shouldNotBeClickable" ng-disabled="shouldNotBeClickable" ng-click="acceptOrDeclineInvite(false, event); shouldNotBeClickable = true"> DECLINE </md-button>
        <!-- PAYMENT INFO -->
        <form class='check-element animate-hide' id='payment-form' name="creditCardForm" ng-submit="generateClientToken()" ng-show='displayPayment'>
          <h3 class='entry'>Credit Card Info</h3>
          <md-input-container class='entry' id='credit-number'>
              <label>Credit Card Number</label>
              <input ng-model="card.number">
          </md-input-container>
          <md-input-container id='credit-number' class='entry' style="width:50%">
              <label>CVC</label>
              <input ng-model="card.cvc">
          </md-input-container>
          <div id='credit-number' layout class='entry' layout-sm="column" >
            <md-input-container style="width:10%" md-no-float>
                <label>Expiration MM</label>
                <input ng-model="card.expirationMonth" style="width: 100px">
            </md-input-container>
            <md-input-container style="width:10%;left:10%" md-no-float>
                <label>Expiration YYYY</label>
                <input ng-model="card.expirationYear" style="width: 100px">
            </md-input-container>
          </div>
          <md-button type="submit" ng-disabled="payBtnClickable" ng-click="generateClientToken()" class="entry md-raised md-primary" >Pay</md-button>
          <span class='entry'>Error: {{stripeError}}</span>
        </form>
        <!-- END PAYMENT -->
      </div>
    </div>

