    <div class="event" panel panel-primary ng-model="event">
      <div class="info" >
        <img class="event-image" width="200px" height="200px" src="{{event.image}}" />
        <div id="{{ 'event-' + $index }}" class="info" >
          <span class="panel body"> <strong> {{ event.title }} </strong> </span> <br />
          <span class="panel body"> Expiration: {{ event.expiration |  date : format : timezone}} </span> <br />
          <span class="panel body"> People needed: {{ event.thresholdPeople }} </span>
        </div>
      </div>
      <span class="panel body"> Cost per person: ${{ event.thresholdMoney / event.thresholdPeople | number:2 }} </span> <br />
      <span class="panel body"> Remaining money needed: ${{ event.thresholdMoney - event.committedMoney | number:2}} </span> <br />
      <md-button class="md-raised md-primary" ng-model="shouldNotBeClickable" ng-disabled="shouldNotBeClickable" ng-click="acceptOrDeclineInvite(true, event); shouldNotBeClickable = true"> JOIN </md-button>
      <md-button class="md-raised md-primary"ng-model="shouldNotBeClickable" ng-disabled="shouldNotBeClickable" ng-click="acceptOrDeclineInvite(false, event); shouldNotBeClickable = true"> DECLINE </md-button>
      <!-- PAYMENT INFO -->
      <form name="creditCardForm" ng-controller="EventsPayment">
        <h3>Credit Card Info</h3>
        <md-input-container style="width:50%">
            <label>Credit Card Number</label>
            <input ng-model="card.number">
        </md-input-container>
        <md-input-container style="width:50%">
            <label>CVC</label>
            <input ng-model="card.cvc">
        </md-input-container>
        <div layout layout-sm="column" >
          <md-input-container style="width:10%" md-no-float>
              <label>Expiration MM</label>
              <input ng-model="card.expirationMonth" style="width: 100px">
          </md-input-container>
          <md-input-container style="width:10%" md-no-float>
              <label>Expiration YYYY</label>
              <input ng-model="card.expirationYear" style="width: 100px">
          </md-input-container>
        </div>
        <md-button type="submit" ng-disabled="payBtnClickable" ng-click="generateClientToken()" class="md-raised md-primary" >Pay</md-button>
        <span>Error: {{stripeError}}</span>
      </form>
      <!-- END PAYMENT -->
    </div>

